@{
    ViewBag.Title = "Contact";
}

<br /><br />

<div class="ui huge label">
    <i class="address book outline icon"></i> @ViewBag.Title
</div>


<div class="ui big blue message">
    <section class="contact segment">
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <span class="label">Aryan Firouzian:</span>
            <span><a href="mailto:aryan.firouzian@oulu.fi">aryan.firouzian@oulu.fi</a></span>
        </p>
        <p>
            <span class="label">Iikka Paajala:</span>
            <span><a href="mailto:iikka.paajala@oulu.fi">iikka.paajala@oulu.fi</a></span>
        </p>
        <p>
            <span class="label">Eeva Leinonen:</span>
            <span><a href="mailto:eeva.leinonen@oulu.fi">eeva.leinonen@oulu.fi</a></span>
        </p>
        <p>
            <span class="label">Petri Pulli:</span>
            <span><a href="mailto:petri.pulli@oulu.fi">petri.pulli@oulu.fi</a></span>
        </p>
    </section>
</div>
<div class="ui big blue message">
    <section class="contact segment">
        <header>
            <h3>Address</h3>
        </header>
        <p>
            Department of Information Processing Science<br />
            TS274 - P.O Box 3000, 90014 University of Oulu, Finland
        </p>
    </section>
</div>